section {
  margin-top: 60px;
}
footer {
  margin-top: 60px;
}

.navbar {
  margin-top: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  display: flex;
  margin: 0 10px;
  padding: 10px 20px;
  color: #fbfbfb;
  text-decoration: none;
}

.navbar-item.active {
  background-color: #696969;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu-toggle {
    display: none;
  }

  .menu-icon {
    font-size: 24px;
    color: #fbfbfb;
    cursor: pointer;
    padding: 10px;
  }

  .menu {
    display: none;
    flex-direction: column;
    background-color: #363636;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  .menu a {
    margin-bottom: 10px;
    color: #fbfbfb;
    text-decoration: none;
  }

  .menu-toggle:checked ~ .menu {
    display: flex;
  }
  .content {
    width: 80%;
  }

  .img-box img {
    align-self: center;
    padding: 10px;
  }
  #list-service {
    display: flex;
    flex-direction: column;
  }
  .list {
    width: 96%;
  }
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .menu {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
  }

  .menu a {
    margin: 0 10px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contato {
  display: flex;

  justify-content: center;
}

.contato ul li {
  margin-bottom: 8px;
  text-decoration: none;
}

.content {
  width: 60%;
  align-self: center;
  padding: 10px;
}
.img-box {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.img-box img {
  width: 40%;
}

.img-sobre {
  width: 100%;
  align-self: center;
}
.img-banner {
  display: flex;

  justify-content: center;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.no-bullets {
  list-style-type: none;
}

.no-bullets li:hover {
  font-size: 20px;
  color: #dc143c;
}

.fa-check {
  color: #dc143c;
}

#logo-site {
  height: 60px;
}
