body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #1c1c1c;
  color: #fbfbfb;
}

a {
  color: #fbfbfb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #dc143c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #dc143c;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  margin: 0;
  padding: 0;
}
